USE [master]
GO
/****** Object:  Database [UniversityDB]    Script Date: 04/05/2026 15:01:01 ******/
CREATE DATABASE [UniversityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UniversityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UniversityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityDB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [varchar](10) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Gender] [char](1) NULL,
	[DOB] [date] NOT NULL,
	[EnrolmentYear] [int] NOT NULL,
	[DepartmentID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrolments]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrolments](
	[EnrolmentID] [varchar](10) NOT NULL,
	[StudentID] [varchar](10) NOT NULL,
	[OfferingID] [varchar](10) NOT NULL,
	[EnrolmentDate] [date] NOT NULL,
	[FinalGrade] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrolmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeScale]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeScale](
	[Grade] [varchar](2) NOT NULL,
	[GradePoints] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentGPA]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StudentGPA]
AS
SELECT        s.StudentID, s.FirstName, s.LastName, AVG(g.GradePoints) AS GPA
FROM            dbo.Students AS s INNER JOIN
                         dbo.Enrolments AS e ON e.StudentID = s.StudentID INNER JOIN
                         dbo.GradeScale AS g ON g.Grade = e.FinalGrade
GROUP BY s.StudentID, s.FirstName, s.LastName
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [varchar](10) NOT NULL,
	[EnrolmentID] [varchar](10) NOT NULL,
	[WeekNumber] [int] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentAttendance]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Attendance Percentage View
CREATE VIEW [dbo].[vw_StudentAttendance] AS
SELECT
    s.StudentID,
    CAST(SUM(CASE WHEN a.Status = 'Present' THEN 1 ELSE 0 END) AS FLOAT)
        / COUNT(a.AttendanceID) AS AttendancePct
FROM Students s
JOIN Enrolments e ON e.StudentID = s.StudentID
JOIN Attendance a ON a.EnrolmentID = e.EnrolmentID
GROUP BY s.StudentID;
GO
/****** Object:  View [dbo].[vw_StudentPredictedGrade]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Predicted Grade View
CREATE VIEW [dbo].[vw_StudentPredictedGrade] AS
SELECT
    s.StudentID,
    sg.GPA,
    sa.AttendancePct,
    (0.7 * sg.GPA) + (0.3 * sa.AttendancePct * 4.0) AS PredictedGrade
FROM vw_StudentGPA sg
JOIN vw_StudentAttendance sa ON sa.StudentID = sg.StudentID
JOIN Students s ON s.StudentID = sg.StudentID;
GO
/****** Object:  Table [dbo].[CourseOffering]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseOffering](
	[OfferingID] [varchar](10) NOT NULL,
	[CourseID] [varchar](10) NOT NULL,
	[LecturerID] [varchar](10) NOT NULL,
	[Semester] [varchar](20) NOT NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OfferingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [varchar](10) NOT NULL,
	[CourseName] [varchar](100) NOT NULL,
	[Credits] [int] NULL,
	[DepartmentID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [varchar](10) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[FacultyName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[LecturerID] [varchar](10) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DepartmentID] [varchar](10) NOT NULL,
	[HireDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terms]    Script Date: 04/05/2026 15:01:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terms](
	[TermID] [varchar](10) NOT NULL,
	[Year] [int] NOT NULL,
	[Term] [varchar](20) NOT NULL,
	[Semester] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TermID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Attendance] ([AttendanceID], [EnrolmentID], [WeekNumber], [Status]) VALUES (N'A8001', N'E5167', 1, N'Present')
INSERT [dbo].[Attendance] ([AttendanceID], [EnrolmentID], [WeekNumber], [Status]) VALUES (N'A8002', N'E5168', 1, N'Present')
INSERT [dbo].[Attendance] ([AttendanceID], [EnrolmentID], [WeekNumber], [Status]) VALUES (N'A8003', N'E5169', 1, N'Present')
GO
INSERT [dbo].[CourseOffering] ([OfferingID], [CourseID], [LecturerID], [Semester], [Capacity]) VALUES (N'CO4001', N'C301', N'L201', N'2024-Autumn', 40)
INSERT [dbo].[CourseOffering] ([OfferingID], [CourseID], [LecturerID], [Semester], [Capacity]) VALUES (N'CO4002', N'C302', N'L205', N'2024-Autumn', 35)
INSERT [dbo].[CourseOffering] ([OfferingID], [CourseID], [LecturerID], [Semester], [Capacity]) VALUES (N'CO4003', N'C303', N'L206', N'2024-Autumn', 40)
GO
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Credits], [DepartmentID]) VALUES (N'C301', N'Database Systems', 4, N'D1')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Credits], [DepartmentID]) VALUES (N'C302', N'Algorithms', 4, N'D1')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Credits], [DepartmentID]) VALUES (N'C303', N'Financial Mathematics', 3, N'D4')
GO
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [FacultyName]) VALUES (N'D1', N'Computer Science', N'Engineering')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [FacultyName]) VALUES (N'D2', N'Business Management', N'Business')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [FacultyName]) VALUES (N'D3', N'Psychology', N'Social Sciences')
GO
INSERT [dbo].[Enrolments] ([EnrolmentID], [StudentID], [OfferingID], [EnrolmentDate], [FinalGrade]) VALUES (N'E5167', N'S1042', N'CO4013', CAST(N'2025-01-18' AS Date), N'B')
INSERT [dbo].[Enrolments] ([EnrolmentID], [StudentID], [OfferingID], [EnrolmentDate], [FinalGrade]) VALUES (N'E5168', N'S1042', N'CO4022', CAST(N'2025-08-25' AS Date), N'C')
INSERT [dbo].[Enrolments] ([EnrolmentID], [StudentID], [OfferingID], [EnrolmentDate], [FinalGrade]) VALUES (N'E5169', N'S1043', N'CO4003', CAST(N'2024-08-19' AS Date), N'C')
GO
INSERT [dbo].[GradeScale] ([Grade], [GradePoints]) VALUES (N'A', 4)
INSERT [dbo].[GradeScale] ([Grade], [GradePoints]) VALUES (N'B', 3)
INSERT [dbo].[GradeScale] ([Grade], [GradePoints]) VALUES (N'C', 2)
GO
INSERT [dbo].[Lecturers] ([LecturerID], [FirstName], [LastName], [DepartmentID], [HireDate]) VALUES (N'L201', N'Emma', N'Wilson', N'D1', CAST(N'2018-09-01' AS Date))
INSERT [dbo].[Lecturers] ([LecturerID], [FirstName], [LastName], [DepartmentID], [HireDate]) VALUES (N'L202', N'Robert', N'Hughes', N'D2', CAST(N'2015-01-15' AS Date))
INSERT [dbo].[Lecturers] ([LecturerID], [FirstName], [LastName], [DepartmentID], [HireDate]) VALUES (N'L203', N'Olivia', N'Brown', N'D3', CAST(N'2019-06-20' AS Date))
GO
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Gender], [DOB], [EnrolmentYear], [DepartmentID]) VALUES (N'S1001', N'Amina', N'Hassan', N'F', CAST(N'2004-03-12' AS Date), 2022, N'D3')
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Gender], [DOB], [EnrolmentYear], [DepartmentID]) VALUES (N'S1002', N'Luca', N'Romano', N'M', CAST(N'2003-11-08' AS Date), 2021, N'D1')
INSERT [dbo].[Students] ([StudentID], [FirstName], [LastName], [Gender], [DOB], [EnrolmentYear], [DepartmentID]) VALUES (N'S1003', N'Mei', N'Chen', N'F', CAST(N'2005-07-19' AS Date), 2023, N'D4')
GO
INSERT [dbo].[Terms] ([TermID], [Year], [Term], [Semester]) VALUES (N'T001', 2024, N'Autumn', N'2024-Autumn')
INSERT [dbo].[Terms] ([TermID], [Year], [Term], [Semester]) VALUES (N'T002', 2025, N'Spring', N'2025-Spring')
INSERT [dbo].[Terms] ([TermID], [Year], [Term], [Semester]) VALUES (N'T003', 2025, N'Autumn', N'2025-Autumn')
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([EnrolmentID])
REFERENCES [dbo].[Enrolments] ([EnrolmentID])
GO
ALTER TABLE [dbo].[CourseOffering]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CourseOffering]  WITH CHECK ADD FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturers] ([LecturerID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Enrolments]  WITH CHECK ADD FOREIGN KEY([OfferingID])
REFERENCES [dbo].[CourseOffering] ([OfferingID])
GO
ALTER TABLE [dbo].[Enrolments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Lecturers]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD CHECK  (([Status]='Late' OR [Status]='Absent' OR [Status]='Present'))
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD CHECK  (([WeekNumber]>=(1) AND [WeekNumber]<=(16)))
GO
ALTER TABLE [dbo].[CourseOffering]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([Credits]>(0)))
GO
ALTER TABLE [dbo].[Enrolments]  WITH CHECK ADD CHECK  (([FinalGrade]='F' OR [FinalGrade]='D' OR [FinalGrade]='C' OR [FinalGrade]='B' OR [FinalGrade]='A'))
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  (([Gender]='F' OR [Gender]='M'))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "e"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 197
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "g"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 295
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_StudentGPA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_StudentGPA'
GO
USE [master]
GO
